tree_sitter@git+https://github.com/utk-se/py-tree-sitter.git@master#egg=tree_sitter
grand-cypher@git+https://github.com/aplbrain/grand-cypher.git@master#egg=grand-cypher
python-arango
coloredlogs
pygit2
filelock
tqdm
Pebble
tenacity
cachetools
enlighten==1.9.0
psutil
bpython
orjson>=3.0.0
networkx[default]
